<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "../model/head.html" with page_title="Controle de Pedidos - Listagem de Pedidos" %}
</head>

<body>

    {% include "../model/header.html" with logado=1 bread_name="Produtos" bread_button_name="Novo Produto" %}

    <main class="main-container">
        <section class="produtos-container">

            {% include "../model/table.html" with arr_columns=produtos_columns arr=produtos template=1 %}

        </section>

        <section id="modal-template" class="modal-template" style="display: none;"> 
            <article class="modal-header"> Produtos </article>
            <article class="modal-body">
                <form class="form-container" action="/produtos/novo" method="post">
                    {% csrf_token %}
                    
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" name="nome" id="nome" required>
                            <div class="underline"></div>
                            <label for="nome">Nome</label>
                         </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="number" name="custo" id="custo" required>
                            <div class="underline"></div>
                            <label for="custo">Custo</label>
                         </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="number" name="valor" id="valor" required>
                            <div class="underline"></div>
                            <label for="valor">Valor</label>
                         </div>
                    </div>

                    <div class="modal-btn">
                        <button class="btn btn-primary"> Registrar </button>
                    </div>
                </form>
            </article>
        </section>
    </main>

    {% include "../model/footer.html" %}
</body>

</html>
