{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% include "../model/head.html" with page_title="Controle de Pedidos - Listagem de Pedidos" %}
</head>

<body>

    {% include "../model/header.html" with logado=0 bread_name="Pedidos" bread_button_name="Novo Pedido" link_content='cadastro/pedido/' %}

    <main class="main-container">
        <section class="pedido-container">

            {% include "../model/table.html" with arr_columns=pedido_columns arr=pedidos template=2 %}

        </section>
    </main>

    {% include "../model/footer.html" %}
</body>

</html>
