{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% include "../model/head.html" with page_title="Controle de Pedidos - Listagem de Pedidos" %}
    <link rel="stylesheet" href="{% static 'css/cadastro_pedido.css' %}">
</head>

<body>

    {% include "../model/header.html" with logado=0 bread_name="Cadastro Geral" %}

    <main class="main-container">
        <section class="title-content">
            <h1> Novo Pedido </h1>
            <h2> Preencha os campos para realizar o seu pedido. </h2>
        </section>

        <section class="form-pedido">
            <form class="form-container" action="/cadastro/pedido/" method="post">
                {% csrf_token %}
                
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" name="cliente_nome_completo" id="cliente_nome_completo" required>
                        <div class="underline"></div>
                        <label for="cliente_nome_completo">Nome Completo</label>
                     </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <input type="tel" id="cliente_telefone" name="cliente_telefone" required>
                        <div class="underline"></div>
                        <label for="cliente_telefone">Telefone</label>
                     </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <input type="email" name="cliente_email" id="cliente_email" required>
                        <div class="underline"></div>
                        <label for="cliente_email">E-mail</label>
                     </div>
                </div>
                <div class="form-row">
                    <label for="id_produto">Selecionar Produto:</label>
                    <select name="id_produto" id="id_produto">
                        {% for obj in produtos %}
                            <option value="{{obj.id}}"> {{obj.id}} - {{obj.nome}} - R$ {{obj.valor}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="modal-btn">
                    <button class="btn btn-primary"> Realizar Compra </button>
                </div>
            </form>
        </section>
    </main>

    {% include "../model/footer.html" %}
</body>

</html>
